@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
/* 
font-family: 'Antonio', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* 
font-family: 'Satisfy', cursive;
*/

/* NORMALIZE */
:root {
    --primary: #7C6F49;
    --text: #EEEEEE;
    --gris: #353535;
    --negro: #000000;

    --antonio: 'Antonio', sans-serif;
    --releway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --satisfy: 'Satisfy', cursive;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    min-height:100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--text);
    font-family: var(--antonio);
    background-color: var(--negro)
}
h1 {
    font-size: 3.6em;
}
h2 {
    font-size: 2.6em;
}
p {
    font-size: 1.6em;
}
a {
    font-size: 2.2em;
    color: var(--text);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
span { 
    font-size: 1.6em;
}

/* UTILITARIES */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: rgb(20, 20, 20);
    height: 140px;
}
header .navbar {
    display: flex;
    justify-content: space-between;
}
header .navbar__menu {
    display: flex;
    align-items: center;
    gap: 8rem;
}
header .navbar__link {
    color: var(--primary);
}
header .navbar__link:hover{
    color: var(--text);
}
header picture .header__img {
    width: 200px;
}
/* HEADER MEDIA QUERY */

/* MAIN */
main .principal{
    background: rgba(0, 0, 0, 0.7) url(/img/fondo.jfif);
    background-blend-mode:screen ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-end;
    text-align: right;
    line-height: 8em;
    background-blend-mode: darken;
}
main .principal h1{
    color: var(--primary);
    font-family: var(--releway);
    margin-right: 0;
    font-size: 6em;
}
main .principal .contenido {
    position: absolute;
    right: 8%;
    top: 30%;
}
main .principal .contenido span { 
    font-family: var(--releway);
    color: var(--primary);
}

.linea{
    border-top: 1px solid var(--primary);
    height: 1px;
    padding: 0;
    margin-top: 10px;
}


/* NOVEDADDES */
.center{
    text-align: center;
    color: var(--primary);
    font-family: var(--releway);
    margin-top: 10px;
    line-height: 30px;
}

.novedades {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}
.novedades .caja .picture img{
    width: 80%;
    transition: 2s;
}
.novedades .caja .picture img:hover{
    transform: scale(1.1);
}
.center a {
    color: #7C6F49;
    font-family: var(--satisfy);
    font-size: 30px;
}
.center a:hover {
    color: var(--text);
}
.vermas {
    border: 1px solid var(--primary);
    width: 25%;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 8px;
    background-color: transparent;
}

/* FORMULARIO */

/* MAPA */
.mapa{
    margin-top: 10px;
    text-align: center;
}
/* FOOTER */
.footer {
    color: var(--primary);
    padding: 10px;
    text-align: center;
}