<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="principal">
            <div class="contenido">
                <h1>Lo sentimos, pagina no encontrada <i class="fa-regular fa-face-sad-tear"></i></h1>
                <span><a style="color: #7C6F49;" href="/">Volver al Inicio</a></span>
            </div>
        </section>
    </main>
    <div class="linea"></div>
    <%- include('./partials/footer') %>
</body>
</html>