<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="principal">
            <div class="contenido">
                <h1>ADHARA VESTIDOS</h1>
                <span><h2>Alquiler de Vestidos</h2>Disfruta de una fiesta especial, nosotras nos ocupamos del resto!<br>Registrate y reserva tu cita o escribinos por Whatsapp (11 6576 5159)</span>
            </div>
        </section>
        <div class="linea"></div>
        <section class="container center">
            <h2>Novedades</h2>
            <span>Estas son las novedades del mes, no te las pierdas!</span>
            <div class="novedades">
                <article class="caja">
                    <picture class="picture">
                        <img src="/img/vestidos/vestido4.jpeg" alt="">
                    </picture>
                </article>
                <article class="caja">
                    <picture class="picture">
                        <img src="/img/vestidos/vestido9.jpeg" alt="">
                    </picture>
                </article>
                <article class="caja">
                    <picture class="picture">
                        <img src="/img/vestidos/vestido6.jpeg" alt="">
                    </picture>
                </article>
                
            </div>
            <div class="vermas">
                <a href="/galeria">Ver mas</a>
            </div>
        </section>
        <div class="linea"></div>
        <section class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3269.084181344225!2d-58.67595248533233!3d-34.979556080363714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcdf61efce0ca1%3A0x89e2de0b1ecd9ec9!2sClub%20de%20Campo%20La%20Martona!5e0!3m2!1ses-419!2sar!4v1670115466727!5m2!1ses-419!2sar" width="1200" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <div class="linea"></div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>