<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <p>hola</p>
    <div class="linea"></div>
    <%- include('./partials/footer') %>
</body>
</html>