
<header>
    <nav class="navbar container">
        <picture class="header__logo">
            <img class="header__img" src="/img/Logo adhara.png" alt="Logo Adhara">
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="/">Subir fotos</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/galeria">Bloquear dia de turnos</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/preguntas">Borrar fotos</a>
            </li>
        </ul>
    </nav>
</header>