<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/headerAdmin') %>
    <main>
        <div class="linea"></div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>