<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container">
        <h1 id="galeria">Reserva tu cita</h1>
        <form action="">
            <div class="form">
                <label for="">Selecciona un dia</label>
                <input type="date" required min="">
            </div>
            <div class="form">
                <label for="">Selecciona un horario</label>
                <input type="time">
            </div>
            <div class="boton2  ">
                <button type="submit">Reservar</button>
            </div>
        </form>
    </main>
    <div class="linea"></div>
    <%- include('../partials/footer') %>
</body>
</html>